@model IEnumerable<Foxtrot.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div class="card card-shadow card-table">
    <div class="card-header white">
        <span class="card-title">Users</span>
        <a class="btn btn-primary float-right"
           asp-controller="Users"
           asp-action="Create">
            <span>Create</span>
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Dni</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <span>@user.FullName</span>
                    </td>
                    <td>
                        <span>@user.Email</span>
                    </td>
                    <td>
                        <span>@user.Address</span>
                    </td>
                    <td>
                        <span>@user.Dni</span>
                    </td>
                    <td>
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">
                            <img src="~/img/icono.editar.png" class="img-edit" alt="edit"/>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
