@model IEnumerable<Foxtrot.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<div class="card card-shadow card-table">
    <div class="card-header white">
        <span class="card-title">Citas creadas</span>
        <a class="btn btn-primary float-right"
           asp-controller="Appointments"
           asp-action="Create">
            <span>Create</span>
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Servicio</th>
                <th scope="col">Creador</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Nota</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <th scope="row">
                        <span>@Html.DisplayFor(x => appointment.Id)</span>
                    </th>
                    <td>
                        <span>@appointment.StartDate - @appointment.EndDate</span>
                    </td>
                    <td>
                        <span>@appointment.Service.Name</span>
                    </td>
                    <td>
                        <span>@appointment.Creator.FullName</span>
                    </td>
                    <td>
                        <span>@appointment.Provider.FullName</span>
                    </td>
                    <td>
                        <span>@appointment.Note</span>
                    </td>
                    <td><img src="~/img/icono.editar.png" class="img-edit" alt="edit"/></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
