@model IEnumerable<Foxtrot.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<div class="card card-shadow card-table">
    <div class="card-header white">
        <span class="card-title">Appointments</span>
        <a class="btn btn-primary float-right"
           asp-controller="Appointments"
           asp-action="Create">
            <span>Create</span>
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Date</th>
                <th scope="col">Creator</th>
                <th scope="col">Provider</th>
                <th scope="col">Note</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>
                        <span>@appointment.Service.Name</span>
                    </td>
                    <td>
                        <span>@appointment.StartDate - @appointment.EndDate</span>
                    </td>
                    <td>
                        <span>@appointment.Creator.FullName</span>
                    </td>
                    <td>
                        <span>@appointment.Provider.FullName</span>
                    </td>
                    <td>
                        <span>@appointment.Note</span>
                    </td>
                    <td>
                        <a asp-controller="Appointments" asp-action="Edit" asp-route-id="@appointment.Id">
                            <img src="~/img/icono.editar.png" class="img-edit" alt="edit"/>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
